.bg-navy { background-color: $color__primary !important; }
.bg-blue { background-color: $color__secondary !important; }
.bg-green { background-color: $color__accent !important; }
.bg-gray-light { background-color: $color__gray !important; }
.bg-gray { background-color: $well-bg !important; }
.bg-white { background-color: $color__light !important; }
.bg-black { background-color: $color__dark !important; }
.text-navy { color: $color__primary !important; }
.text-blue { color: $color__secondary !important; }
.text-green { color: $color__accent !important; }
.text-white { color: $color__light !important; }
.text-black { color: $color__dark !important; }
.spacer {
    margin-bottom: 40px;
}

/*! Use .vcenter class to center two columns,
but make sure to put <-- -->
btween the end of the first and begining of second col
to remove any whitespace */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-center {
  height:100%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  //font: 0/0 a;         /* remove the gap between inline(-block) elements */
    &:before {    /* create a full-height inline block pseudo=element */
      content: " ";
      display: inline-block;
      vertical-align: middle;    /* vertical alignment of the inline element */
      height: 100%;
    }
    & > .container {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      //font: 14px/1.8 $font-family-sans-serif; /* reset the font property */
    }
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
// shadow classes
.mdl-shadow--2dp {
  @include shadow-2dp();
}
.mdl-shadow--3dp {
  @include shadow-3dp();
}
.mdl-shadow--4dp {
  @include shadow-4dp();
}
.mdl-shadow--6dp {
  @include shadow-6dp();
}
.mdl-shadow--8dp {
  @include shadow-8dp();
}
.mdl-shadow--16dp {
  @include shadow-16dp();
}
.mdl-shadow--24dp {
  @include shadow-24dp();
}
