.vertical-center {

  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  //font: 0/0 a;         /* remove the gap between inline(-block) elements */


    &:before {    /* create a full-height inline block pseudo=element */
      content: " ";
      display: inline-block;
      vertical-align: middle;    /* vertical alignment of the inline element */
      height: 100%;
    }

    & > .container {
      max-width: 100%;

      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */

      //font: 14px/1.8 $font-family-sans-serif; /* reset the font property */
    }

}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
