.unbeatable-discounts {
  width: 90%;
}


#entity-types {
  .btn {
    margin-bottom: 5px;
    text-transform: capitalize !important;
    font-weight: normal !important;
  }
}

.legal-kit {
  background-color: $color__light;
  @include make-row();
  padding: 0;
  margin: 0 0 15px;

  .legal-kit-img {
    @include make-sm-column(3);
    padding-left: 0;
    img {
      width: 100%;
      max-width: 270px;
      height: auto;
      margin: 0 auto;
      display: block;
    }

  }

  .legal-kit-body {
    @include make-sm-column(9);
    padding-bottom: 20px;

  }

}
