/*
.table {

  .list_title, .out {
    color: $text-color;
  }

  .list_title{
    color: $text-color;
    font-weight: normal;
    display: inline;
  }


  .tablebg {
    padding-left: 10px;
    padding-right: 10px;
  }

  .out {
    padding-right: 30px;
  }

  ul {
    margin-top: 10px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  h2.table_left, li {
    margin-bottom: 5px;
  }

  h2.table_left {
    padding-bottom: 30px;
    text-align: center;
    @include breakpoint($screen-md) {
      text-align: right;
    }
  }

  li {
    margin-bottom: 5px;
    color: $footer-color;
    list-style-image: url('../images/info_bullet.png');
    cursor: pointer;
  }

  .arrow_direction {
    color: $color__accent;
    display: inline;
    padding-left: 5px;
    font-size: 10px;
    @include icon('chevron-right');
    transition: all 0.3s ease-out;
    &.active {
      @include icon('chevron-down');
    }
  }

  #tabledeal, .tabledeal-reg {
    background: $color__light;
    border-color: $color__accent;
    border-style: solid;
    border-width: 3px;
    margin: 10px auto;
    width: 100%;
    margin-bottom: 10px;
    max-width: 450px;
    overflow: hidden;
  }


  #tabledeal {
    @include shadow-8dp();
    @include breakpoint($screen-sm) {
      margin: 15px auto;
      width: auto;
    }
  }

  .tabledeal-reg {
    border-color: $color__secondary;
    @include breakpoint($screen-sm) {
      margin-top: 65px;
      width: auto;
    }
  }

  .price-lg {
    display: inline-block;
    color: $color__secondary;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: -30px;
  }

  .price-xlg{
      @extend .price-lg;
      font-size: 80px;
      margin-bottom: -20px;
  }

  .price-sub {
    display: inline-block;
    color: $color__secondary;
    font-size: 16px;
    font-weight: 600;
  }




  #greenbg {
    background-color: $color__accent;
    color: $color__light;
    width: auto;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 400;
  }

  .graybg {
    background-color: $color__light;
    width: auto;
    padding-top: 10px;
    font-weight: 400;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid $color__secondary;
  }

  #price-bullets {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    display: inline;
  }

  .btn {
    margin-bottom: 30px;
    margin-top: 15px;
  }

} // #table
*/

.quotewidth {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding-bottom: 25px;
  @include breakpoint($screen-md) {
    text-align: right;
  }
}


.table-deal {
  background: $color__light;
  border-color: $color__secondary;
  border-style: solid;
  border-width: 3px;
  margin: 10px auto 10px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;

  @include breakpoint($screen-sm) {
    margin-top: 65px;
    width: auto;
  }

  img {
    margin-bottom: 15px;
  }

  .table-body {
    text-align: center;
    padding: 0 15px;
  }

  .table-header {
    background-color: $color__secondary;
    color: $color__light;
    width: 100%;
    line-height: 1;
    padding: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &.special {
    border-color: $color__accent;
    @include shadow-8dp();
    @include breakpoint($screen-sm) {
      margin: 10px auto 0;
      width: auto;
    }

    .table-header {
      background-color: $color__accent;
    }


  } // .special

  .price-cat {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    line-height: 2;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid $color__secondary;
  }

  .price-lg {
    display: inline-block;
    color: $color__secondary;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: -30px;
  }

  .price-xlg{
      @extend .price-lg;
      font-size: 80px;
      margin-bottom: -20px;
  }

  .price-sub {
    display: inline-block;
    color: $color__secondary;
    font-size: 16px;
    font-weight: 600;
  }

  .table-price {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &.block {
      margin-bottom: 20px;
      & > div {
        display: block;
      }
    }
  }


  .table-divider {
    width: 289px;
    height: 3px;
    display: block;
    margin: 0 auto 20px;
    background-image: url('../images/bluedivider.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .table-list {
    list-style-position: inside;
    width: 100%;
    padding: 0 20px 0 50px;
    margin: 0 auto;

    @include breakpoint($screen-md) {
      padding: 0 2px 0 10px;
    }

    @include breakpoint($screen-lg) {
      padding: 0 10px 0 30px;
    }

    li {
      margin-bottom: 5px;
      color: $footer-color;
      list-style-image: url('../images/info_bullet.png');
      cursor: pointer;

      .list-title {
        color: $text-color;
        font-weight: normal;
        display: inline;
      }
    }
  }

  .arrow-direction {
    color: $color__accent;
    display: inline;
    padding-left: 5px;
    font-size: 10px;
    @include icon('chevron-right');
    transition: all 0.3s ease-out;
    &.active {
      @include icon('chevron-down');
    }
  }

  .btn {
    margin: 20px auto 30px;
  }


} // .table-deal
