

.btn {
  text-transform: uppercase;
  border-radius: 30px;
  transition: all .3s ease-out;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }
}

.btn-lg {
  //min-width: 280px;
  padding: 15px 30px;
  font-size: $font-size-base;
}

.btn-rounded {
  border-radius: 10px !important;
}

.btn-sqr {
  border-radius: 0 !important;
}
