@import "colors";
@import "typography";

// owl carousel
$dot-width:				15px;
$dot-height:			15px;
$dot-rounded:			30px;
$dot-margin: 			5px 7px;
$dot-background-active:	$color__accent;

// special breakpoints
$breakpoint-header: 637px;

// shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
