#form {
  background: $color__gray;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  //padding-left: 30px;

  .form_sect_headings {
    color: $color__secondary;
    font-weight: 400;
    text-transform: uppercase;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin solid $color__secondary;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .selections {
    font-weight: 400;
    display: inline;
  }

  #order_summary_box {
    position: absolute;
    height: auto;
    max-width: 400px;
    border: 1.5px solid #ccc;
    background-color: $color__light;
    padding: 30px;

    #order_title, #order_total {
      text-align: left;
      text-transform: uppercase;
      border-right: none;
      border-left: none;
    }

    #order_title {
      border-top: none;
      border-bottom: thin solid #ccc;
      padding-bottom: 5px;
    }

    #order_total, #order_total_amount {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 15px;
    }

    #order_total_amount {
      float: right;
    }

    #services_selected, #services_quantity {
      list-style: none;
      padding-left:0;
      display: inline;
    }

    .order_list_titles {
      font-weight: 400;
      display: inline;
    }

    #services_selected {
      float: left;
    }

    #services_quantity {
      float: right;
      text-align: right;
    }

    #order_summary_button {
      width: 100%;
    }
  }

}
