#form-wizard {
  background-color: $color__gray;
  padding-top: 10px;
  padding-bottom: 30px;

  .heading {
    color: $color__secondary;
    font-weight: 400;
    text-transform: uppercase;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin solid $color__secondary;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .selections {
    font-weight: 400;
    display: inline;
  }

  .order-summary-box {
    max-width: 400px;
    border: 1.5px solid $hr-border;
    background-color: $color__light;
    padding: 30px;
    margin: 0 auto;

    .order-title {
      text-transform: uppercase;
      line-height: 1;
    }

    .order-total {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 15px;
      float: right;
      clear: both;
    }

    .btn-order {
      margin-top: 40px;
      @extend .btn-block;
      @extend .btn-success;
    }

    .services-summary {
      margin: 10px 0;
      padding: 15px 0;
      width: 100%;
      border-top: 1px solid $hr-border;
      border-bottom: 1px solid $hr-border;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
      }
    } // .services-summary

    .service-title, .service-title-header {
      display: inline-block;
      text-align: left;
      width: 69%;
    }

    .service-price, .service-price-header {
      display: inline-block;
      text-align: right;
      width: 29%;
    }

    .service-title-header, .service-price-header {
      font-weight: 400;
    }

    #coupon-field {
      margin-top: 15px;
    }


  } // .order-summary-box

} // #form-wizard
