.navbar {
  margin: 0;
  border: none;
}

.navbar-nav {

@include breakpoint($screen-sm) {
  display:table;
  width:100%;
  margin: 0;
}

  & > li {

    @include breakpoint($screen-sm) {
      float:none;
      display:table-cell;
      text-align:center;
    }

    & > a {
      $color: $navbar-color;
    } // a
  } // li
} // .navbar-nav

.navbar-toggle-container {
  width: 100%;
  @include clearfix();
}

.navbar-default {
  & > .container {
    position: relative;
  }

  .navbar-toggle {
      border-color: $color__light;
      //@include clearfix();

      &:hover {
        background-color: $color__light;
        border-color: $color__primary;
        .icon-bar {
            background-color: $color__primary;
        }
      }

      &:focus {
        background-color: $color__primary;
        border-color: $color__light;
        .icon-bar {
            background-color: $color__light;
        }
      }

      .icon-bar {
          background-color: $color__light;
      }
  } // .navbar-toggle

  // on open keep hover menu color
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    background-color: $color__secondary;
  }

} // .navbar-default


// hamburger manu animation
.navbar-toggle {
  position: relative;
  width: 44px;
  height: 34px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 10px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(2) {
    top: 9px;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: 11px;
    transform-origin: left center;
  }

  span:nth-child(4) {
    top: 17px;
    transform-origin: left center;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
    top: 8px;
    left: 14px;
  }

  &.open span:nth-child(3) {
    width: 0%;
    opacity: 0;
  }

  &.open span:nth-child(4) {
    transform: rotate(-45deg);
    top: 19px;
    left: 14px;
  }
} // .navbar-toggle

// open on hover in none-mobile menu
.dropdown:hover .dropdown-menu {
  @include breakpoint($screen-sm) {
    display: block;
  }
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  width: 100%;
  max-width: 100%;
  margin: 0 15px;
  padding: 20px 0px;
  color: lighten($color__dark, 40%);
  overflow: hidden;
  @include breakpoint($screen-sm) {
    width: 720px;
    max-height: 500px;
    overflow-y: scroll;
  }
  @include breakpoint($screen-md) { width: 940px; }
  @include breakpoint($screen-lg) { width: 1140px; }


  img {
    width: 100%;
    height: auto;
  }
}


.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: lighten($color__dark, 40%);
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: lighten($color__dark, 15%);
  background-color: lighten($color__dark, 96%);
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: $color__secondary;
  font-weight: 500;
  font-size: 16px;
}

.dropdown-menu-large .link-header {
  color: $color__secondary;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 15px;

  @include breakpoint($screen-sm) {
    padding: 6px 20px;
  }

  &:hover, &:focus {
    color: $color__secondary;
    text-decoration: underline;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }

  .navbar-nav .open .dropdown-menu {
    background: $color__light;
  }
}


// fix for dropdown-menu-large on hover
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $navbar-default-link-hover-color;
  background-color: $navbar-default-link-hover-bg;
}

.dropdown-large > a {
  position: relative;
}

.dropdown-large:hover > a:after,
.dropdown-large:focus > a:after,
.dropdown-large > a:focus::after {

    @include breakpoint($screen-sm) {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      border-width: 10px 10px 0;
      border-style: solid;
      border-color: $navbar-default-link-hover-bg transparent;
      display: block;
      width: 0;
      z-index: 9999;
    }
}

.col-color:nth-child(even) {
  background-color: #f5f5f5;
  padding: 20px 15px;
  @include breakpoint($screen-sm) {
    padding: 20px 0;
    margin: -20px 0;
  }
}


/* News Alerts */
.dropdown-alert {

margin-bottom: 20px;

.alert-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  color: $color__secondary;

  a:hover {
    color: darken($color__secondary, 10%);
    text-decoration: none;
  }
}

.alert-date {
  font-size: 12px;
  font-weight: 400;
  color: lighten($color__dark, 60%);
  @include icon(calendar-o);

  &::before {
    width: 15px;
  }
}

.alert-body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;

  a {
    color: lighten($color__dark, 40%);
    &:hover {
      text-decoration: none;
      color: lighten($color__dark, 15%);
    }
  }

}

} // .dropdown-alert
